<?xml version="1.0"?>

<launch>

  <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find summit_description)/maps/hotel.yaml" output="screen"/>
    

<node pkg="tf" type="static_transform_publisher" name="base_foot" args="0 0 0.5 0 0 0 summit_base_footprint summit_base_link 10" />
 <node pkg="tf" type="static_transform_publisher" name="base_laser" args="0 0 0.5 0 0 0.5 summit_base_link hokuyo_link 10" />
<node pkg="tf" type="static_transform_publisher" name="laser_broadcasters" args="0 0 0 0 0 0 map odom 100" />
  <include file="$(find amcl)/examples/amcl_diff.launch" >
  </include> 

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/>
    <param name="controller_patiente" value="15.0"/>
    <rosparam file="$(find summit_description)/nav/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find summit_description)/nav/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find summit_description)/nav/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find summit_description)/nav/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find summit_description)/nav/config/base_local_planner_params.yaml" command="load" />
  </node>


</launch>
